.Search {
    width: 60%;
    padding-left: 1%;
    background-color: #FFF; 
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Search .part {
    width: 100%;
    padding: 1%;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.Search .part img {
    margin: 2%;
}

.Search .part input {
    width: 100%;
    padding: 2% 0%;
    font-size: 1rem;
    border: 0px solid #FFF;
    outline: none;
}

.Search button {
    margin: 0%;
    padding: 3% 4%;
    color: #FFF;
    background-color: #00A3AD;
    font-size: 1rem;
    border: 0px solid #FFF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media(max-width: 400px) {
    .Search {
        width: 100%;
        padding: 5% 0%;
        flex-direction: column;
        justify-content: center;
    }
    .Search .part {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 1.5% 0%;
    }
    .Search button {
        width: 102%;
        margin: 1.5% 0%;
        border-radius: 5px;
    }
}