.Option {
    padding: 2% 0%;
    /*color: #33475B;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Option input {
    border: 1px solid 
}

.Option label {
    margin-left: 2%;
    font-size: 16px;
}