.Message {
    color: #FFF;
    text-align: center;
}

.bigText {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}

.smallText {
    font-size: 1.2rem;
    display: block;
}

@media(max-width: 415px) {
    .Message {
        color: #000;
    }
    .bigText {
        font-size: 2.2rem;
    }
    .smallText {
        display: none;
    }
}