.Hero {
    max-width: 100%;
    height: 70vh;
    background-image: url('../../assets/HeroSection/heroImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 415px) {
    .Hero {
        padding: 0% 5%;
        height: auto;
        margin: auto;
        background-image: none;
        align-items: flex-start;     
    }
}