.Button {
    margin: 1% 0%;
    padding: 0.8% 1%;
    color: #516F90;
    background-color: #EAF0F6;
    font-size: 0.8rem;
    border: 0px solid #EAF0F6;
    border-radius: 20px;
}

@media(max-width: 415px) {
    .Button {
        padding: 3% 4%;
        font-size: 0.9rem;
    }
}