.Header {
    max-width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0% 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width: 415px) {
    .burgerIcon {
        display: block;
    }
}