.Area {
    width: 345px;
    height: 175px;
    margin-bottom: 4%;
    color: #FFF;
    background-color: lightslategray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Area img {
    position: absolute;
    top: 0;
    left: 0;
}

.Area p {
    font-size: 1.8rem;
    font-weight: bold;
    position: absolute;
    top: 50;
    left: 50;
}

.more {
    color: #00A3AD;
    background-color: #D8F3F4;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 400px) {
    .Area {
        height: 100px;
        overflow: hidden;
    }   
}