.Description {
    width: 60%;
}

.Description h1 {
    font-size: 2.4rem;
}

.Description p {
    color: #00A3AD;
}

@media(max-width: 415px) {
    .Description {
        width: 100%;
    }
    .Description h1{
        font-size: 1.6rem;
    }
}