.AutoSuggestion {
    width: 100%;
    margin-left: -2.5%;
    color: #516F90;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgb(196, 196, 196);
    position: absolute;
    top: 120%;
    z-index: 100;
}

.AutoSuggestion ul {
    padding: 0% 5%;
    list-style-type: none;
}

@media(max-width: 415px) {
    .AutoSuggestion {
        margin-left: -1%;
    }
}